/* client/src/App.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 30px auto;
  max-width: 80%;
}
.chat-box {
  border: 1px solid #ddd;
  padding: 20px;
  min-height: 80vh;
  background: #f9f9f9;
  overflow-y: auto;
  border-radius: 8px;
}
.msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 75%;
}
.user {
  background-color: #cfe2ff;
  margin-left: auto;
}
.bot {
  background-color: #e2e3e5;
  margin-right: auto;
}
.input-area {
  display: flex;
  gap: 10px;
  margin-top: 20px;
 
}
input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
